@model OilOnline.Models.Vehicle

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Vehicle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <dt class="col-sm-2">
                @if (Model.VehicleImage != null)
                {
                    var base64 = Convert.ToBase64String(Model.VehicleImage);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);


                    <img class="userImg" style="width:150px" src="@imgSrc" />
                }
            </dt>
            @*<div class="form-group">
                <br>
                <label>Upload a different image of your vehicle?:</label>
                <input type="file" name="ImageUpload" asp-for="ImageUpload">
            </div>*@
            <div class="form-group">
                <label asp-for="ImageUpload" class="control-label"></label>
                <input asp-for="ImageUpload" class="form-control" id="ImageUpload" />
                <span asp-validation-for="VehicleImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlateNumber" class="control-label"></label>
                <input asp-for="PlateNumber" class="form-control" />
                <span asp-validation-for="PlateNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Make" class="control-label"></label>
                <input asp-for="Make" class="form-control" />
                <span asp-validation-for="Make" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OilTypeId" class="control-label"></label>
                <select asp-for="OilTypeId" class="form-control" asp-items="ViewBag.OilTypeId"></select>
                <span asp-validation-for="OilTypeId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
